@import "./mixin/mixin";
@import "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 32px;
    margin: auto;
}

nav {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;

    .navbar {
        @include mini;
        justify-content: space-between;
        padding: 26px 0;

        .logo {
            width: 15%;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        ul {
            @include flex;
            gap: 30px;
            list-style: none;
            color: white;

            li {
                font-size: 19px;

            }
        }
    }
}

.banner {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://sgp1.digitaloceanspaces.com/adaybulletin/2019/04/feature_thereview_endgame.jpg");
    background-position: center;
    background-size: cover;

    .b-all {
        @include mini;
        padding: 200px 0;

        .travel {
            width: 53%;
            @include flex;
            flex-direction: column;
            gap: 20px;
            color: white;
            text-align: center;

            p {
                font-size: 10px;
                letter-spacing: .2rem;
                font-weight: 700;

            }

            h1 {
                font-size: 60px;
            }

            button {
                width: 50%;
                padding: 20px 0;
                background-color: transparent;
                border-color: white;
                color: white;
                cursor: pointer;
                transition: all .5s ease;
                margin-top: 100px;

                &:hover {
                    background-color: rgb(255, 208, 0);
                    border-color: rgb(255, 208, 0);
                }
            }
        }
    }
}

.plan {
    width: 100%;

    .p-all {
        @include mini;
        justify-content: space-between;
        padding: 50px 0;

        .p-div4 {
            width: 22%;
            @include flex;
            flex-direction: column;
            gap: 20px;

            .p-img {
                width: 28%;

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            h3 {
                font-size: 28px;
                font-weight: 300;
            }

            p {
                text-align: center;
                font-size: 18px;
                color: gray;
                padding: 0 20px;
            }
        }
    }
}

.Greece {
    width: 100%;
    height: 100vh;

    .g-all {
        @include flex;
        justify-content: space-between;
        height: 100%;

        .g-1 {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            background-color: beige;
            padding: 0 30px;
            gap: 20px;

            h2 {
                font-size: 36px;
                font-weight: 300;
            }

            p {
                font-size: 18px;
            }
        }

        .g-2 {
            width: 50%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }
    }
}

.Paris {
    width: 100%;
    height: 100vh;

    .p-all {
        @include flex;
        height: 100%;

        .p-2 {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            background-color: beige;
            padding: 0 30px;
            gap: 20px;

            h2 {
                font-size: 36px;
                font-weight: 300;
            }

            p {
                font-size: 18px;
            }
        }

        .p-1 {
            width: 50%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }
        }
    }
}

.popular{
    width: 100%;
    .p-all{
        @include mini;
        flex-direction: column;
        gap: 50px;
        padding: 50px;
        .p-head{
            width: 60%;
            @include flex;
            flex-direction: column;
            gap: 20px;
            h2{
                font-size: 35px;
                font-weight: 300;
            }
            p{
                font-size: 18px;
                color: gray;
            }
        }
        .p-divs{
            @include mini;
            flex-wrap: wrap;
           // justify-content: space-between;
            gap: 20px;
            .div8{
                width: 23%;
                border-radius: 5px;
                img{
                    width: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
        }
    }
}

@media screen and (max-width:990px) {
    nav {
        .container {
            max-width: 800px;

            .navbar {
                ul {
                    gap: 20px;
                }
            }
        }
    }

    .plan {
        .container {
            max-width: 800px;
            text-align: center;
        }
    }

    .popular{
        .container{
            max-width: 800px;
            
            .p-all{
                .p-head{
                    width: 100%;
                }
                .p-divs{
                    .div8{
                        width: 22.5%;
                    }
                }
            }
        }
    }

}

@media screen and (max-width:768px) {
    nav {
        .container {
            padding: 0 20px;

            .navbar {
                ul {
                    display: none;
                }
            }
        }
    }

    .banner {
        .container {
            padding: 0 20px;

            .b-all {
                .travel {
                    width: 40%;

                    h1 {
                        font-size: 30px;
                    }

                    p {
                        font-size: 7px;
                    }

                    button {
                        width: 100%;
                    }
                }
            }
        }
    }

    .plan {
        .container {
            padding: 0 20px;

            .p-all {
                flex-wrap: wrap;
                gap: 20px;

                .p-div4 {
                    width: 47.5%;
                    padding: 0;

                    .p-img {
                        img {
                            width: 40%;
                        }
                    }

                    h3 {
                        font-size: 21px;
                    }
                }
            }
        }
    }

    .Greece{
        height: 200vh;
        width: 100%;
        .g-all{
           flex-direction: column;
           .g-1, .g-2{
            width: 100%;
           }
        }
    }

    .Paris{
        height: 200vh;
        
        .p-all{
            flex-direction: column;
            .p-1{
                width: 100%;
            }
            .p-2{
                width: 100%;
            }
        }
    }

    .popular{
        .container{
            padding: 0 20px;
            .p-all{
                .p-head{
                    h2{
                        font-size: 25px;
                    }
                }   
                .p-divs{
                    .div8{
                        width: 100%;
                    }
                }
            }
        }
    }
}